body {
  font-family: Arial sans-serif;
  background-color: #edf0f7;
}

div img {
  height: 106px;
  margin-left: 180px;
  margin-top: 170px;
}

div h2 {
  margin-left: 210px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  margin-top: -16px;
  font-size: 20px;
  line-height: 28px
}

.container {
  background-color: white;
  width: 396px;
  height: 350px;
  margin-top: -200px;
  margin-left: 700px;
  border-radius: 9px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  margin-top: 50px;
  margin-left: 725px;
}

.form input {
  padding: 15px;
  width: 300px;
  margin-top: 15px;
  border-radius: 8px;
  border-style: ridge;
  background-color: white;
  border-color: rgb(235, 233, 233);
}

button {
  margin-top: 18px;
  padding: 13px;
  width: 317px;
  background-color: #0866ff;
  border-radius: 8px;
  font-family: sans-serif; 
  font-size: 20px;
  color: white;
  border-style: hidden;
}

.a {
  margin-top: 15px;
}

.btn button {
  background-color: #00A400;
  width: 215px;
}
